In [1]:
!pip install nba_api

Requirement already satisfied: nba_api in c:\users\dipak\.conda\envs\env2\lib\site-packages (1.10.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\dipak\.conda\envs\env2\lib\site-packages (from nba_api) (1.26.4)
Requirement already satisfied: pandas>=2.2.0 in c:\users\dipak\.conda\envs\env2\lib\site-packages (from nba_api) (2.2.1)
Requirement already satisfied: requests<3.0.0,>=2.32.3 in c:\users\dipak\.conda\envs\env2\lib\site-packages (from nba_api) (2.32.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dipak\.conda\envs\env2\lib\site-packages (from pandas>=2.2.0->nba_api) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dipak\.conda\envs\env2\lib\site-packages (from pandas>=2.2.0->nba_api) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dipak\.conda\envs\env2\lib\site-packages (from pandas>=2.2.0->nba_api) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\dipak\.conda\envs\env2\lib\site-packages (from requests<3.0.0,>=2.32.3->nba_api) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dipak\.conda\envs\env2\lib\site-packages (from requests<3.0.0,>=2.32.3->nba_api) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\dipak\.conda\envs\env2\lib\site-packages (from requests<3.0.0,>=2.32.3->nba_api) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dipak\.conda\envs\env2\lib\site-packages (from requests<3.0.0,>=2.32.3->nba_api) (2024.8.30)
Requirement already satisfied: six>=1.5 in c:\users\dipak\.conda\envs\env2\lib\site-packages (from python-dateutil>=2.8.2->pandas>=2.2.0->nba_api) (1.16.0)

In [2]:
from nba_api.stats.static import teams
import matplotlib.pyplot as plt

In [3]:
def one_dict(list_dict):
    keys = list_dict[0].keys()
    out_dict = {key:[] for key in keys}
    for dict_ in list_dict:
        for key, value in dict_.items():
            out_dict[key].append(value)
    return out_dict

In [4]:
nba_teams = teams.get_teams()

In [5]:
nba_teams[0:3]

[{'id': 1610612737,
  'full_name': 'Atlanta Hawks',
  'abbreviation': 'ATL',
  'nickname': 'Hawks',
  'city': 'Atlanta',
  'state': 'Georgia',
  'year_founded': 1949},
 {'id': 1610612738,
  'full_name': 'Boston Celtics',
  'abbreviation': 'BOS',
  'nickname': 'Celtics',
  'city': 'Boston',
  'state': 'Massachusetts',
  'year_founded': 1946},
 {'id': 1610612739,
  'full_name': 'Cleveland Cavaliers',
  'abbreviation': 'CLE',
  'nickname': 'Cavaliers',
  'city': 'Cleveland',
  'state': 'Ohio',
  'year_founded': 1970}]

In [6]:
import pandas as pd

In [7]:
dict_nba_team = one_dict(nba_teams)
df_teams = pd.DataFrame(dict_nba_team)
df_teams.head()

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Georgia,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966

In [8]:
df_warriors = df_teams[df_teams['nickname']=="Warriors"]

In [9]:
df_warriors

,id,full_name,abbreviation,nickname,city,state,year_founded
7,1610612744,Golden State Warriors,GSW,Warriors,Golden State,California,1946

In [10]:
id_warriors = df_warriors[["id"]].values[0][0]
id_warriors

1610612744